.layout-container {
  height: calc(100vh - 200px);
}

#login-page footer,
#signup-page footer {
  display: none !important;
}

.login-form,
.register-form {
  width: 100%;
  width: min(100%, 420px);
  margin: 0 auto;
  padding: 25px 0;
}

.sidebar__btn-menu,
.topbar {
  height: 80px;
}

.topbar__avatar {
  width: 50px !important;
  height: 50px !important;
}

.topbar__avatar img {
  width: 50px !important;
  height: 50px !important;
}

.avatar_img {
  width: 50px !important;
  height: 50px !important;
  border-radius: 50%;

}

.orange{
  color: orange;
}

.quote-container {
  display: flex;
  flex-wrap: wrap;
}

.quote-item {
  width: 300px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.quote-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}